.content {
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.results {
    width: 35%;
    display: flex;
   flex-direction: column;
}
.content__container {
    font-style: 24px;
    font-weight: 600;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.elements {
    width: 50%;
    box-sizing: border-box;
    padding: 48px 62px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px 24px;
}

.message {
    color: black;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .elements {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 1120px) {
    .elements {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 890px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 48px 50px;
    }
}
