.elements {
    box-sizing: border-box;
    padding: 48px 62px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 37px 24px;
}

.message {
    color: black;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .elements {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 1120px) {
    .elements {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 890px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 48px 50px;
    }
}
