.content {
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.results {
    width: 35%;
    display: flex;
   flex-direction: column;
}
.content__container {
    font-style: 24px;
    font-weight: 600;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.elements {
    width: 50%;
    box-sizing: border-box;
    padding: 48px 62px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px 24px;
}

.message {
    color: black;
    text-align: center;
}


@media screen and (max-width: 1024px) {
    .elements {
        padding: 0;
        gap: 14px 14px;
    }
}

@media screen and (max-width: 768px) {
    .elements {
        width: 90%;
    }
    .content {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .results {
        width: 100%;
    }
    .content__container {
        justify-content: space-around;    }
}