.card {
    /* cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    position: relative;
    transform: scale(1, 1);
    transition: all 0.5s;
    background-color: black; */
}

.span {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    background-color: black;
    transform: scale(1,1);
    box-shadow: inset 0px 5px 4px 1px rgba(255, 252, 252, 0.671)
}

.span:hover {
    transform: scale(1.1,1.1);
    box-shadow: inset 0px 5px 4px 1px rgba(255, 252, 252, 0.671),0px 5px 4px 1px rgba(0,0,0, 0.50)
}

.active {
    visibility: visible;
    opacity: 1;
    background-color: white;
}
.done {
    cursor: none;
    transform: scale(0.0,0.0);
    visibility:visible;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .span {
        width: 30px;
        height: 30px;
    }
    .results {
        padding-top: 25px;
    }
}