.card {
    width: 225px;
    height: 225px;
    position: relative;
    transform: scale(1, 1);
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.14, 1.14);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.card__img {
    object-fit: cover;
    width: 225px;
    height: 225px;
}

.card__like {
    visibility: hidden;
    position: absolute;
    width: 40px;
    height: 36px;
    right: 20px;
    bottom: 25px;
    cursor: pointer;
}

.card__like_false {
    background-image: url("../../images/unlike.svg");
}

.card__like_false:hover {
    background-image: url("../../images/like.svg");
}

.card__like_true {
    background-image: url("../../images/like.svg");
}

.card:hover .card__like {
    visibility: visible;
}
