.header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: 64px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    padding: 0 62px 0 62px;
}

.header__link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.5s;
}

.header__link:hover {
    color: white;
}

.header__link-active {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.cats {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196f3;
    transition: background-color 0.5s;
}

.cats:hover {
    background-color: #42a5f5;
}

.cats-active {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e88e5;
}

.cats_type_all {
    width: 120px;
}

.cats_type_saved {
    width: 173px;
}
